<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainpages/index}"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách khách hàng</title>

    <!-- Add your custom CSS styles -->

</head>

<body>
<main layout:fragment="content">
    <div class="recent-orders">
        <h2>Danh sách khách hàng</h2>

        <!-- Add a "Create" button -->
        <div class="action-buttons">
            <a class="create-button" th:href="@{/api/khachhang/new}">Create</a>
        </div>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Tên Khách Hàng</th>
                <th>Địa Chỉ</th>
                <th>SDT</th>
                <th>Email</th>
                <th>Tên Ngân Hàng</th>
                <th>Số Tài Khoản</th>
                <!-- Add more columns based on KhachHang entity properties -->
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <!-- Loop through the list of KhachHang entities and display each one -->
            <tr th:each="khachhang : ${listKhachhang}">
                <td th:text="${khachhang.id}"></td>
                <td th:text="${khachhang.TenKhachHang}"></td>
                <td th:text="${khachhang.DiaChi}"></td>
                <td th:text="${khachhang.SDT}"></td>
                <td th:text="${khachhang.Email}"></td>
                <td th:text="${khachhang.TenNganHang}"></td>
                <td th:text="${khachhang.SoTaiKhoan}"></td>
                <!-- Add more cells based on KhachHang entity properties -->
                <td>
                    <a th:href="@{/api/khachhang/edit/{id}(id=${khachhang.id})}">
                        <button class="button-13">
                            Cập nhật
                        </button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
