<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainpages/index}"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách nhà cung cấp</title>

    <!-- Add your custom CSS styles -->

</head>

<body>
<main layout:fragment="content">
    <div class="recent-orders">
        <h2>Danh sách nhà cung cấp</h2>

        <!-- Add a "Create" button -->
        <div class="action-buttons">
            <a class="create-button" th:href="@{/api/nhacungcap/new}">Create</a>
        </div>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Tên Nhà Cung Cấp</th>
                <th>Vật Tư Cung Cấp</th>
                <th>Địa Chỉ</th>
                <th>SDT</th>
                <th>Email</th>
                <th>Tên Ngân Hàng</th>
                <th>Số Tài Khoản</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <!-- Loop through the list of NhaCungCapVatTu entities and display each one -->
            <tr th:each="nhaCungCap : ${listnhacungcap}">
                <td th:text="${nhaCungCap.id}"></td>
                <td th:text="${nhaCungCap.TenNhaCungCap}"></td>
                <td th:text="${nhaCungCap.VatTuCungCap}"></td>
                <td th:text="${nhaCungCap.DiaChi}"></td>
                <td th:text="${nhaCungCap.SDT}"></td>
                <td th:text="${nhaCungCap.Email}"></td>
                <td th:text="${nhaCungCap.TenNganHang}"></td>
                <td th:text="${nhaCungCap.SoTaiKhoan}"></td>
                <td>
                    <a th:href="@{/api/nhacungcap/edit/{id}(id=${nhaCungCap.id})}">
                        <button class="button-13">Cập nhật</button>
                    </a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</main>
</body>
</html>
